* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-div {
  height: 100vh;
  width: 100vw;
  background-color: #2f163c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.functions-div {
  width: 95%;
  height: 600px;
  background-color: #e0cdff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

@media (max-width: 800px) {
  .functions-div {
    width: 100%;
  }
}

.time-selector {
  width: 50%;
  padding: 5px;
}

.input {
  width: 50%;
  padding: 10px;
}

.clock {
  font-size: 3rem;
}

button {
  width: 100px;
  height: 50px;
}

.hidden {
  display: none;
}
